.section {

	&__lovestory {
	}
}
.wrapper {
}
.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	text-align: left;
}
.entry {

	&__container {
		margin: 0 30px;
	}

	&__header {
		font-size: 32px;
	}

	&__summary {
		max-width: 450px;
		color: $color-primary-opacity;
		line-height: 30px;
	}

	&__examples {
		font-weight: 600;
		color: $firstLetter-color;
		background-color: transparent;
		border-radius: 20px;
		border: none;
		cursor: pointer;
	}

	&__img {
		width: 100%;
		max-height: 700px;
		background-position: center;
		background-repeat: no-repeat;
		background-size:  cover;
	}
}



